.checkout-button {
    background-color: #008cba !important; /* Azul */
    color: white !important;
  }


  .paypal-container {
    // display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 600px; /* Define un ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Agrega espacio alrededor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }