<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo.png" class="logo2" alt="logo" />
          </a>
          <h5 class="my-4 d-flex justify-content-center">Regístrate con tu correo electrónico</h5>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    placeholder="Nombre"
                    formControlName="nombre"
                  />
                  <label for="nombre">Nombre</label>
                  <small class="text-danger" *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.errors">
                    <ng-container *ngIf="registerForm.get('nombre').errors['required']">El nombre es obligatorio.</ng-container>
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="apellidos"
                    placeholder="Apellidos"
                    formControlName="apellidos"
                  />
                  <label for="apellidos">Apellidos</label>
                  <small class="text-danger" *ngIf="registerForm.get('apellidos')?.touched && registerForm.get('apellidos')?.errors">
                    <ng-container *ngIf="registerForm.get('apellidos').errors['required']">Los apellidos son obligatorios.</ng-container>
                  </small>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Nombre de usuario"
                formControlName="username"
                (input)="eliminarEspacios($event)"
              />
              <label for="username">Nombre de usuario</label>
              <small class="text-danger" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors">
                <ng-container *ngIf="registerForm.get('username').errors['required']">El nombre de usuario es obligatorio.</ng-container>
              </small>
            </div>
            <!-- Campo de contraseña con ícono de ojo -->
            <div class="form-floating mb-3 position-relative">
              <input
                [type]="mostrarPassword ? 'text' : 'password'"
                class="form-control"
                id="password"
                placeholder="Contraseña"
                formControlName="password"
              />
              <label for="password">Contraseña</label>
              <i
                class="ti"
                [ngClass]="mostrarPassword ? 'ti-eye-off' : 'ti-eye'"
                (click)="togglePasswordVisibility()"
                style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
              ></i>
              <small class="text-danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
                <ng-container *ngIf="registerForm.get('password').errors['required']">La contraseña es obligatoria.</ng-container>
                <ng-container *ngIf="registerForm.get('password').errors['pattern']">La contraseña debe tener al menos 8 caracteres, incluir una mayúscula y un número.</ng-container>
              </small>
            </div>
            <!-- Campo para confirmar contraseña -->
            <div class="form-floating mb-3">
              <input
                [type]="mostrarPassword ? 'text' : 'password'"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirmar Contraseña"
                formControlName="confirmPassword"
              />
              <label for="confirmPassword">Confirmar Contraseña</label>
              <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.touched && !passwordsCoinciden()">
                Las contraseñas no coinciden.
              </small>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="direccion"
                placeholder="Dirección"
                formControlName="direccion"
              />
              <label for="direccion">Dirección</label>
              <small class="text-danger" *ngIf="registerForm.get('direccion')?.touched && registerForm.get('direccion')?.errors">
                <ng-container *ngIf="registerForm.get('direccion').errors['required']">La dirección es obligatoria.</ng-container>
              </small>
            </div>
            <div class="form-check mt-3">
              <input
                class="form-check-input input-primary"
                type="checkbox"
                id="customCheckc1"
                formControlName="aceptaTerminos"
              />
              <label class="form-check-label" for="customCheckc1">
                <h5>
                  Acepto los
                  <a href="https://docs.google.com/document/d/1xi-Ttf7in8x94l6zpr1U4htUb9I1BgeHTPsMbFTtADA/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                    Términos y Condiciones
                  </a>.                </h5>
              </label>
              <small class="text-danger" *ngIf="registerForm.get('aceptaTerminos')?.touched && registerForm.get('aceptaTerminos')?.errors">
                <ng-container *ngIf="registerForm.get('aceptaTerminos').errors['required']">Debes aceptar los términos y condiciones.</ng-container>
              </small>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2" [disabled]="registerForm.invalid || !passwordsCoinciden()">Registrarse</button>
            </div>
          </form>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>