<div class="row">
    <div class="col-sm-12">

        <app-card cardTitle="Productos">

            <div class="container2 mt-5">
                <ngb-carousel class="small-carousel">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/images/carrusel/img1.jpeg" alt="Random first slide" />
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/images/carrusel/img2.jpeg" alt="Random second slide" />
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/images/carrusel/img3.jpeg" alt="Random third slide" />
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/images/carrusel/img4.jpeg" alt="Random fourth slide" />
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>

                <div class="container mt-5">
                    <h2 class="text-center mb-4">Categorías</h2>
                    <div class="row">
                        <div class="col-md-4 mb-4" *ngFor="let categoria of categorias">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                                    <p class="card-text">{{ categoria.descripcion }}</p>
                                    <button class="btn btn-primary" (click)="verProductos(categoria.cveCategoria)">Ver
                                        Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </app-card>
    </div>
</div>