<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Categorías">
        <div class="row mb-3">
          <!-- Columna para el filtro alineado a la izquierda -->
          <div class="col-sm-6 text-start">
            <mat-form-field class="w-100">
              <mat-label>Filtrar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Buscar categoría" #input>
            </mat-form-field>
          </div>
  
          <!-- Columna para el botón alineado a la derecha -->
          <div class="col-sm-6 text-end">
            <button class="btn btn-outline-primary" (click)="openCategoryModal()">
              Agregar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <!-- Columna: Nombre de la Categoría -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de la categoría</th>
                <td mat-cell *matCellDef="let categoria">{{ categoria.descripcion }}</td>
              </ng-container>
  
              <!-- Columna: Estatus -->
              <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef>Estatus</th>
                <td mat-cell *matCellDef="let categoria">
                  <button mat-icon-button [ngClass]="categoria.activo ? 'btn-success' : 'btn-danger'" (click)="cambiarEstatus(categoria)">
                    <i [class]="categoria.activo ? 'ti ti-check' : 'ti ti-x'"></i>
                  </button>
                </td>
              </ng-container>
  
              <!-- Columna: Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let categoria">
                  <button class="btn btn-sm btn-primary" (click)="openCategoryModal(categoria)">
                    Editar
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="eliminarCategoria(categoria.cveCategoria)">
                    Eliminar
                  </button>
                </td>
              </ng-container>
  
              <!-- Definiciones de Encabezado y Filas -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </app-card>
    </div>
  </div>
