<div class="container mt-5">
    <h2 class="text-center mb-4">Productos de la Categoría: {{ categoriaNombre }}</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let producto of productos">
        <div class="card h-100">
          <img [src]="producto.imagenBase64 || 'assets/images/default-product.png'" class="card-img-top" alt="Imagen del producto">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text"><strong>Precio:</strong> {{ producto.precio | currency }}</p>
            <button class="btn btn-primary" (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>